<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Colque Santiago</title>
</head>
<body>
<h1>seleccione la operacion</h1>

<ul>
	<li><a href="calculoSuma?num1=40&num2=10">suma</a></li>
	<li><a href="calculoMultiplica?num1=8&num2=4">multiplica</li>
	<li><a href="calculoDivide?num1=16&num2=4">division</li>
	<li><a href="calculoResta?num1=19&num2=5">resta</li>
	<li><a href="calculoPotencia?num1=2&num2=4">potencia</li>
	<li><a href="calculoRaizN?num8=8&num2=2">raizN</li>

</ul>

</body>
</html>